!!! 5
%html{ lang: 'en' }
  %head
    %title= page_title(yield :title)
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav
      .logo
        = link_to app_name, root_path, class: 'site__name', title: 'Home'
    %p.notice= notice
    %p.alert= alert

    = yield
